<ol id="posts">
    <li class="post">
        <div class="entry">
            <div class="content">
                {{content}}
            </div>
        </div>
    </li>
    <li class="post">
        <div class="entry">
            <div class="footer">
                <p>
                    {{site.author.name}}
                    <a href="mailto:{{site.author.email}}">{{site.author.email}}</a>
                    <a href="http://github.com/{{site.author.github}}/">github.com/{{site.author.github}}</a>
                    <a href="http://twitter.com/{{site.author.twitter}}">twitter.com/{{site.author.twitter}}</a>
                    <a href="http://feeds.feedburner.com/{{site.author.feedburner}}">feeds.feedburner.com/{{site.author.twitter}}</a>
                </p>
            </div>
        </div>
    </li>
</ol>
